/* CSS GERAL */

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace
}

body{
    background-color:rgb(33, 21, 21);
    width: 100%;

}

:root {
    --base-color: #fd951f;
    --bg-color: rgb(33, 21, 21);
    --white: #f0f0f9;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/*BOTÕES VOLTAR E COMEÇAR */

#voltar{
    width: 120px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--base-color);
    color:white;
    position: relative;
    right: 400px;
    top: 40px;
}

#start{
    width: 120px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--base-color);
    color:white;
    position: relative;
    right: 400px;
    top: 60px;
}

/* TELAS DE RESULTADO */

.resultDiv{
    position: absolute;
    left: 418px;
    top: 70px;
    background-color: var(--bg-color);
    border: 1px solid #824601;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.result{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: -px;
}
.resultBtn{
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--base-color);
    color:white;
    margin:0 10px 0 10px
}

/* CLASSE RESPONSÁVEL POR FAZER A INTERAÇÃO ENTRE TELAS */

.none{
    display: none;
}

/* TELA PRINCIPAL */

.title{
    color: var(--base-color);
    font-size: 55px;
    position: absolute;
}

#main-screen{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 60px;
}

h2{
    color:var(--base-color);
    font-size: 40px;
    margin: 30px;
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu .btn {
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--base-color);
    color:white;
}

.instructions{
    width: 400px;
}

.instructions p{
    text-align: center;
    color: var(--base-color);
    font-size: 25px;
}

/* PIANO */

#piano{
    width:100%;
    max-width:600px;
    height:300px;
    margin: 50px auto;
    border-radius:20px 20px 8px 8px;
    overflow:hidden;
    background:black;
    -webkit-box-shadow:0px 0px 10px 10px rgba(0,0,0,0.12);
    box-shadow:0px 0px 10px 10px rgba(0,0,0,0.12);
    border:1px solid #824601
}

#piano-container{
    width:95%;
    height:230px;
    margin:60px auto 0 auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}

/* TECLAS DO PIANO */

#piano-container li{
    width:14.28%;
    height:100%;
    list-style-type:none;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}

.black{
    box-shadow:1px 0 #777,0 2px 0 #777,0 3px 0 #666,0 4px 0 #555,0 5px 0 #444,0 6px 1px rgba(0,0,0,0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.2),0 20px 20px rgba(0,0,0,0.15);
    -webkit-box-shadow:1px 0 #777,0 2px 0 #777,0 3px 0 #666,0 4px 0 #555,0 5px 0 #444,0 6px 1px rgba(0,0,0,0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.2),0 20px 20px rgba(0,0,0,0.15);
    -moz-box-shadow:1px 0 #777,0 2px 0 #777,0 3px 0 #666,0 4px 0 #555,0 5px 0 #444,0 6px 1px rgba(0,0,0,0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.2),0 20px 20px rgba(0,0,0,0.15);
    -ms-box-shadow:1px 0 #777,0 2px 0 #777,0 3px 0 #666,0 4px 0 #555,0 5px 0 #444,0 6px 1px rgba(0,0,0,0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.2),0 20px 20px rgba(0,0,0,0.15);
    position:absolute;
    right:-35%;
    z-index:2;
    width:70%;
    height:120px;
    background:#000
}
    
.black:active{
        box-shadow:1px 0 #555,0 1px 0 #555,0 1px 0 #444,0 2px 0 #333;
        -webkit-box-shadow:1px 0 #555,0 1px 0 #555,0 1px 0 #444,0 2px 0 #333;
        -moz-box-shadow:1px 0 #555,0 1px 0 #555,0 1px 0 #444,0 2px 0 #333;
        -ms-box-shadow:1px 0 #555,0 1px 0 #555,0 1px 0 #444,0 2px 0 #333
    }

.white{
    width:100%;
    height:100%;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5);
    box-shadow:0 1px 1px rgba(0,0,0,0.5);
    position:relative;
    z-index:1;
    background:#f0f0f9
}

.white:active{
    box-shadow:-1px 0 15px rgba(0,0,0,0.7) inset;
    -webkit-box-shadow:-1px 0 15px rgba(0,0,0,0.7) inset;
    -moz-box-shadow:-1px 0 15px rgba(0,0,0,0.7) inset;
    -ms-box-shadow:-1px 0 15px rgba(0,0,0,0.7) inset
}

.key{
    -webkit-transition:-webkit-transform 80ms ease;
    transition:-webkit-transform 80ms ease;
    transition:transform 80ms ease;
    transition:transform 80ms ease, -webkit-transform 80ms ease;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.playing{
    -webkit-transform:scale(0.98);
    transform:scale(0.98);
    border-color:#fd951f;
    -webkit-box-shadow:0 0 1rem #fd951f;
    box-shadow:0 0 1rem #fd951f
}


span{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--base-color);
}

/* FOOTER */

footer{
    margin-top: 50px;
    color: var(--white);
    text-align: center;
    font-size: 20px;
}

footer a {
    color: var(--base-color);
}